@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/functions";

.container {
  display: grid;
  grid-template-areas:
    "sidebar toolbar"
    "sidebar  main";
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
}

.toolbar {
  grid-area: toolbar;
  padding: 1rem 1.5rem 1.25rem;

  &__sidebar-toggle-label {
    display: flex;
    align-items: center;
    pointer-events: none;
    gap: 1rem;
    height: 100%;

    @include breakpoint(mobile) {
      pointer-events: all;
      cursor: pointer;
    }
  }

  &__logo-mobile {
    @include breakpoint(not-mobile) {
      display: none;
    }
  }

  &__title {
    white-space: nowrap;
    font-size: 1.5rem;

    @include breakpoint(mobile) {
      font-size: 1.25rem;
    }
  }
}

.main {
  grid-area: main;
}

@include themify($themes) {
  .toolbar {
    background-color: themed("background-contrast");
    border-bottom: 1px solid themed("border");
    color: themed("title-text");
  }

  .main {
    background-color: themed("background");
  }
}
