@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/functions";

#sidebar-toggle {
  display: none;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar toolbar"
    "sidebar  main";
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
}
