$primary: hsl(242, 48%, 58%);
$light-purple: hsl(243, 100%, 82%);
$dark-blue: hsl(237, 100%, 4%);
$deep-blue: hsl(235, 16%, 15%);
$navy: hsl(235, 12%, 19%);
$slate: hsl(236, 11%, 27%);
$gray: hsl(216, 15%, 57%);
$light-gray: hsl(221, 69%, 94%);
$lightest-blue: hsl(220, 69%, 97%);
$light-lavender: hsl(240, 45%, 96%);
$soft-lavender: hsl(242, 48%, 89%);
$shadow: rgba(54, 78, 126, 0.101545);
$red: hsl(0, 78%, 63%);
$light-red: hsl(0, 100%, 80%);
$blue: #49c4e5;
$green: #67e2ae;
$input-border: hsla(216, 15%, 57%, 25%);
