.option {
    border-radius: 50%;
    padding: 12% 12% calc(12% + (var(--size) * 0.04));
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: inset 0px calc((var(--size) * 0.04) * -1) 0px 0px rgb(0 0 0 / 30%);
    cursor: pointer;

    &:active {
        box-shadow: none;
        padding: 12%;
        transform: translateY(calc(var(--size) * 0.04));
    }
    
    &__icon-container {
        box-shadow: inset 0px calc(var(--size) * 0.025) 0px 0px rgb(0 0 0 / 20%);
        background: #fff;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #f0f0f0;
        }
    }

    &__icon {
        object-fit: contain;
        width: calc(var(--size) * 0.35);
        height: calc(var(--size) * 0.35);
    }
}

   

