@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "../../../../styles/functions";

.toolbar {
  grid-area: toolbar;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid;

  @include breakpoint(mobile) {
    height: 10vh;
  }

  &__sidebar-toggle-label {
    display: flex;
    align-items: center;
    pointer-events: none;
    gap: 1rem;
    height: 100%;
    flex: 1;

    @include breakpoint(mobile) {
      pointer-events: all;
      cursor: pointer;
    }
  }

  &__logo-wrapper {
    height: 100%;
    border-right: 1px solid;
    width: 153px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    @include breakpoint(mobile) {
      display: none;
    }

    #sidebar-toggle:checked ~ .toolbar > & {
      width: 0;
      border: none;
    }
  }

  &__logo-mobile {
    padding: 0 0 0 1.5rem;

    @include breakpoint(not-mobile) {
      display: none;
    }
  }

  &__title {
    white-space: nowrap;
    font-size: 1.5rem;

    @include breakpoint(mobile) {
      font-size: 1.25rem;
      margin: 0;
    }
  }

  &__chevron {
    display: none;

    @include breakpoint(mobile) {
      display: block;
    }

    #sidebar-toggle:checked ~ .toolbar > .toolbar__sidebar-toggle-label > & {
      rotate: 180deg;
    }
  }

  &__add-btn {
    margin: 0 1rem;
  }

  &__opts-dropdown {
    margin: 0 1rem;
  }
}

@include themify($themes) {
  .toolbar {
    background-color: themed("background-contrast");
    color: themed("title-text");
    border-color: themed("border");

    &__logo {
      path {
        fill: themed("title-text");
      }
    }

    &__logo-wrapper {
      border-color: themed("border");
    }
  }
}
