@font-face {
  font-family: 'Barlow Semi Condensed';
  src: local('Barlow Semi Condensed'), 
      url('/fonts/BarlowSemiCondensed/BarlowSemiCondensed-SemiBold.ttf') 
      format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Semi Condensed';
  src: local('Barlow Semi Condensed'), 
      url('/fonts/BarlowSemiCondensed/BarlowSemiCondensed-Bold.ttf') 
      format('truetype');
  font-weight: 700;
  font-display: swap;
}

@property --result-rg-first {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
@property --result-rg-first-border {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
@property --result-rg-second {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
@property --result-rg-second-border {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
@property --result-rg-third {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
@property --result-rg-third-border {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  margin: 0;
  min-height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 100%;
}


