body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.light-theme {
  & .--dark-theme {
    display: none;
  }
}

.dark-theme {
  & .--light-theme {
    display: none;
  }
}
